
body {
  background: #FFD6DC;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 150%;
  font-family: 'Patua One', Georgia, serif;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer {
margin: 0;
position: relative;
width: 250px;
height: 320px;
background: none;
transform: translate(50%, 0%);
float: right;
display: grid;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */ .card {
position: relative;
margin: 0;
width: 100%;
height: 100%;
border-radius: 10px;
transform-style: preserve-3d;
transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.card:hover {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility:hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: left;;
  transform: rotateY(180deg);
}

#title {
  font-size: 120%;
  padding: 1rem;
}

#info {
  padding: 1rem;
}
